body{
    background-color: #EEF0F3;
    font-size: 16px;
}
.container{
    display: flex;
    flex-direction: column;


}
/*.container .row:nth-child(1){
    padding: 1rem;
    flex: 0.651;
}
.container .row:nth-child(2){
    padding: 2rem;
    flex: 2;
    background-color: #EEF0F3;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
}*/

.date
{
    background-color: #fff;
    padding: 0.5rem;
    border-left: solid 0.5rem #008168;
    border-radius: 0.2rem;
    margin: 1rem;

}

.date h2
{
font-size: 1.25rem;
    color: #727F89;
}

.date h3
{
font-size: 1.125rem;
    color: #A7B8C5;
}

.calendar, .timer
{
    display: flex;
    align-items: center;
}



.calendar img, .timer img
{
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
}
.lastBook
{
    background-color: #fff;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
}

table
{
    border: solid 0.1rem #ccc;
    border-collapse: collapse;
    align-items: center;
}
tr{
    border: solid 0.1rem #ccc;
}
tr th
{

    background-color: #008168;
    color: #fff;
    padding: 0.3rem;
    font-size:1rem;
}

tr td {
    padding: 0.3rem;
    font-size: 1rem;
    text-align: center;
}

tr:nth-child(odd)
{
    background-color: #fff;
}

tr:nth-child(even)
{
    background-color: #E0F2F1;
}

.btnDetail{
    color: #00C09E;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px #00C09E;
    cursor: pointer;


}

.btnDetail:hover{
    background-color: #008168;
    color: #fff;

}
form
{
    display: inline-block;
}

/*Media queries*/

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

    .container
    {
        display: block;
    }

    .container .row:nth-child(1) {
        padding:0 0.5rem 0 0.5rem;
        flex: 0.651;
    }

    .date{
        padding: 0.3rem;
    }

    .calendar h2, .lastBook h2  {
        font-size:0.8rem;
    }
    .timer h3{
        font-size:0.7rem;
    }

    .calendar img, .timer img{
        width: 1rem;
        height: 1rem;
    }

}
