body{
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.containerGeneral{
    display: flex;
}

.menuLateral {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    background-color: #ffffff;
}

.menuLateral p, .menuLateral a {
    padding-left: 1rem;
}

.menuLateral p {
    padding-left: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    color: #3F464C;
}

.menuLateral a  {
    text-decoration: none;
    margin-top: 0.5rem ;
    color: #727F89;
}

.menuLateral a:hover  {
    color: #008168;
}

.menuLateral p:nth-child(1){
    background-color: #00C09E;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 0.78rem;
    padding-bottom: 0.78rem;
    margin: 0;

}

.menuLateral p:nth-child(2),
.menuLateral p:nth-child(3),
.menuLateral  p:nth-child(6),
.menuLateral  p:nth-child(9){
    font-size: 1.25rem;
    font-weight: bold;
    color: #3F464C;
}

.menuLateral a:nth-child(5),
.menuLateral a:nth-child(8){
    margin-bottom: 1rem;
}

.menuHorizontal{
    flex: 3;

}
.subMenu{
    display: flex;
    justify-content: space-between;
    background-color: #3F464C;
    padding: 0.5rem;
}


.subMenu p{
    margin: 0;
    color: #ffffff;
    align-self: center;
    font-weight: bold;
}

.subMenu a{
    text-decoration: none;
    color: #cccc;
    background-color: #2E3439;
    border-radius: 0.2rem;
    font-size: 1rem;
    padding: 0.4rem;
}

.subMenu a:hover{
    color: #fff;
}
