body {
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.containerGeneral {
    display: flex;
}

.menuLateral {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-shadow: 5px 5px 5px #ccc;

}
.subMenuLateral{
    flex-direction: column;
    flex: 1;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
}

.dashboard {
    display: flex;
    align-items: center;
    background-color: #00C09E;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.57rem;
    margin: 0;
}

.dashboard img {
    width: 1.3rem;
    height: 1.3rem;
    padding: 0 0.5rem 0 1rem;
}

.dashboard a {
    color: #fff !important;
    padding: 0.5rem;

}
.menuLateral p, .menuLateral a {
    padding-left: 1rem;
}
.menuSection{
    display: flex;
    flex-direction: column;
}
.menuDeroulant img{
    display: none;
    width: 1.3rem;
    height: 1.3rem;
    padding: 0.3rem;

}
.menuLateral p {
    padding-left: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    color: #3F464C;
}

.menuLateral a {
    text-decoration: none;
    display: block;
}

.menuLateral a:hover {
    color: #008168;
}
.menuLateral p:nth-child(1),
.menuLateral p:nth-child(2),
.menuLateral p:nth-child(5),
.menuLateral p:nth-child(6),
.menuLateral p:nth-child(8) {
    font-size: 1rem;
    font-weight: bold;
    color: #3F464C;
}

.menuLateral a:nth-child(5),
.menuLateral a:nth-child(8) {
    margin-bottom: 1rem;
    color: #727F89;
}
.menuDeroulant{
    background-color: #fff;

}

.menuHorizontal {
    display: flex;
    flex-direction: column;
    flex: 6;

}

.subMenu {
    display: flex;
    justify-content: space-between;
    background-color: #3F464C;
    padding: 0.5rem;
}


.subMenu p {
    margin: 0;
    color: #ffffff;
    align-self: center;
    font-weight: bold;
}

.subMenu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #485259;
    border-radius: 0.2rem;
    font-size: 1rem;
    padding: 0.5rem;
}

.subMenu img {
    width: 1.3rem;
    height: 1.3rem;
    padding: 0 0.5rem 0 0.2rem;
}

.subMenu a:hover {
    background-color: #2E3439;
}

/*Media queries*/

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

    .containerGeneral{
        flex-direction: column;
    }
    .subMenu img {
        width: 1.1rem;
        height: 1.1rem;
        padding: 0 ;
    }
    .subMenu a {
        background-color: #00C09E;
    }

    .menuLateral p:nth-child(1),
    .menuLateral p:nth-child(2),
    .menuLateral p:nth-child(5),
    .menuLateral p:nth-child(8),
    .menuLateral p:nth-child(9) {
        font-size: 1rem;
        font-weight: bold;
        color: #3F464C;
    }

    .menuSection{
        display: none;

    }
    .menuDeroulant {
        display: flex;
        justify-content: end;
        padding: 0.5rem;
    }
    .menuDeroulant img{
        display: block;
    }
    .subMenuLateral{
        display: none;
        min-height: 0;
    }
}


/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {

}